body{
 width: 390px;
 height: 844px;
 margin: 0;
 padding: 0;
 background-color: #FFF2DE;
}

h1{
    font-size: 2rem;
    font-weight: bold;
}

.p1 {
    margin-top: 450px;
    position: absolute;   
    font-size: 1.2rem;
    font-weight: bold;
    color: #363636;
    text-align: center;
}
header {
    width: 390px;
    height: 100px;
    background: #FFE0AD;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #363636;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    
}
 
.imagem {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px; 
    margin-bottom: 40px; 
}

.imagem img {
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}
iframe {
    display: block;        
    margin: 0 auto;   
    width: 350px;            
    height: 350px;         
    border: none;          
    border-radius: 12px;
    margin-top: 500px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.mapa {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;  
}

.p2{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #363636;
}
